<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<link href="http://html5-demos.appspot.com/static/common.css" rel="stylesheet" type="text/css" media="all">
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" media="all">
<title>Get video from getUserMedia() then livestream</title>

</head>
<body>

<h2>Get video from <code>getUserMedia()</code> then livestream.</h2>

<section>
<div style="float:left;">
  <button id="camera-me">1. Turn on camera</button>
  <h4><code>getUserMedia()</code> feed</h4>
  <video autoplay></video>
</div>
<div id="video-preview">
  <button id="record-me" disabled>Go Live<!--⚫--></button>
  <button id="stop-me" disabled>◼</button>
  <!--<button id="play-me" disabled>►</button>-->
  <span id="elasped-time"></span>
  <h4>live video (socketio)</h4>
  <video src="{{ url_for('video_feed') }}"></video>
</div>
</section>

<!--<script src="libwebp-0.1.3.min.js"></script>-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
<script>CFInstall.check({mode: 'overlay'});</script>
<![endif]-->
</body>
</html>